.pagelist {
    p {
        margin: 0;
    }
}

.time,
.words {
    display: inline-block;
    font-size: 0.8rem;
    // font-family: 'Merriweather', serif;
    margin: 0;
    margin-inline-end: 1em;
}